* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
img {
  width: 100%;
}

h2 {
  color: #707070;
  font-weight: 700;
  font-size: 40px;
}

p {
  color: #18191f;
  font-size: 18px;
  line-height: 32px;
}

span {
  color: #fba24f;
}
.section-wrap {
  padding: 80px 0;
}

.header {
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.non-flex-container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.header-left {
  width: 50%;
}

.header-left h1 {
  font-size: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
  color: #575757;
}

.header-left h1 span {
}

.header-left p {
  font-size: 20px;
  padding-right: 20%;
  margin-bottom: 50px;
  color: #828282;
  line-height: 32px;
}

.btn {
  text-decoration: none;
  font-size: 18px;
  background: linear-gradient(to right, #fba24f, #ff1e1e);
  padding: 24px 43px;
  border-radius: 100px;
  color: white;
  font-weight: 500px;
  box-shadow: 0px 2px 30px #fc8f4980;
}

.header-right {
  width: 50%;
}

.about {
  background: url(../images/Frame\ 57.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
  padding-top: 64px;
}

.about-left {
  width: 50%;
  text-align: center;
}

.about-left img {
  width: 55%;
}

.about-right {
  width: 50%;
  padding-bottom: 5%;
}

.about-right h2 {
  margin-bottom: 50px;
}

.about-right p {
  margin-bottom: 70px;
}

.recipie {
}

.recipie-heading {
  margin-bottom: 40px;
}

.recipie-heading h2 {
  margin-bottom: 20px;
}

.recipie-heading p {
  font: 18px;
  line-height: 25px;
  color: #252525;
}

.recipie-item {
  width: 30%;
  margin: 0 1%;
  padding: 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.recipie-item img {
  margin-bottom: 40px;
}

.recipie-item h3 {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
  margin-bottom: 10px;
}

.recipie-item p {
}

.newsletter {
  background: linear-gradient(
      128deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 0%
    ),
    url(../images/Project\ Cover4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter h2 {
  color: white;
}

.newsletter p {
  color: white;
}
.newsletter form {
  margin-top: 30px;
}

.newsletter form input[type="email"] {
  padding: 15px;
  width: 30%;
  font-size: 16px;
  border: 1px solid white;
  background: transparent;
  color: white;
  outline: none;
  border-radius: 100px;
}

.newsletter form input[type="email"]::placeholder {
  color: white;
}
.newsletter form input[type="submit"] {
  padding: 15px;
  width: 20%;
  border: none;
  outline: none;
}

.testimonial .non-flex-container h2 {
  margin-bottom: 40px;
}

.testimonial .customer {
  text-align: center;
}

.testimonial .customer img {
  width: 40%;
}

.testimonial .customer .quotes {
  width: 20%;
  margin-bottom: 0;
}

.container.counter {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 64px 0;
}
.counter .counter-social {
  width: 30%;
  text-align: center;
}

.counter .counter-social h2 {
  font-size: 48px;
  color: #18191f;
}

footer {
  background: #0b0d17;
  padding: 35px 0 115px 0;
}

footer .non-flex-container h2 {
  font-size: 30px;
  margin-bottom: 35px;
}

footer .non-flex-container p {
  color: white;
  font-size: 16px;
}
